<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LoginIdentityDao">
    <insert id="identityInsert">
        insert into login_identity(identity_ids, user_ids)
        values (#{identityId},#{loginId})
    </insert>
    <select id="getId" resultType="java.lang.Integer">
        select count(*) from login_identity where user_ids = #{loginId}
    </select>
    <select id="getIdentity" resultType="java.lang.Integer">
        select count(*) from login_identity li,identity i
        where i.identity_id = li.identity_ids
        and i.identity_name = 'UP主'
        and li.user_ids = #{loginId}
    </select>
</mapper>