<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LoginStatusDao">
    <insert id="addLoginStatus">
        insert into user_status(status_ids, user_ids) values(#{statusId},#{loginId})
    </insert>

    <update id="updateLoginStatus">
        update user_status set status_ids = #{statusId} where user_ids = #{loginId}
    </update>
    <delete id="deleteLoginStatus">
        delete from user_status where user_ids = #{loginId}
    </delete>

    <select id="getId" resultType="java.lang.Integer">
        select count(*) from user_status where user_ids = #{loginId}
    </select>

    <select id="getAllAdmin" resultType="com.entity.LoginStatus">
        select u.login_id, u.login_accoun, u.login_password,s.status_name
        from userlogin u,user_status us,status s
        where u.login_id = us.user_ids
        and s.status_id = us.status_ids
    </select>
</mapper>