<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserStatusDao">
    <insert id="insert">
        insert into user_status(status_ids, user_ids) values(#{statusIds},#{userIds})
    </insert>
    <select id="getStatus" resultType="com.entity.Status">
        select s.* from status s join user_status us on s.status_id = us.status_ids
        where us.user_ids = #{userId}
    </select>

</mapper>