<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserInfoDao">

    <insert id="infoInsert">
        insert into userinfo
        (info_name, info_gender, info_birthday, info_email, info_address,
        info_age, info_desc, login_uid)
        values
        (#{infoName},#{infoGender},#{infoBirthday},#{infoEmail},#{infoAddress},
        #{infoAge},#{infoDesc},#{loginUid})
    </insert>

    <update id="infoUpdate">
        update userinfo set info_name = #{infoName},info_gender = #{infoGender},
        info_birthday = #{infoBirthday},info_email = #{infoEmail},info_address = #{infoAddress},
        info_age = #{infoAge},info_desc = #{infoDesc} where login_uid = #{loginUid}
    </update>

    <select id="infoGetById" resultType="com.entrty.UserInfo">
        select info_id, info_name, info_gender, info_birthday, info_email, info_address, info_age, info_desc, login_uid
        from userinfo where login_uid = #{uid}
    </select>
</mapper>